<ul class="list-group list-group-flush">
    {{#each article}}
        <li class="list-group-item">
            <h4>{{title}}</h4>
            <a href="{{link}}" target="_blank"><button type="button" class="btn btn-outline-dark" id="{{id}}"><i class="fab fa-readme"></i> Read Online</button></a> 
            {{#if saved}}
            {{else}}
                <button title="Save Article" type="button" class="btn btn-outline-dark save-button" id="{{id}}"><i class="far fa-bookmark"></i></button>
            {{/if}}
        </li>
    {{/each}}
</ul>
